<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- container %></title>
    <meta name="description" content="A list of your things">
    <%- include(views + '/shared/head.html.ejs') %>
  </head>
  <body>
    <header class="mt-3">
      <nav>
        <div class="container text-center my-4">
          <nav class="navbar p-0">
            <a href="/">
              <i class="fa fa-chevron-left fa-lg py-2 pr-5"></i>
            </a>
          </nav>
        </div>
      </nav>

      <div class="card text-white bg-dark">
        <div class="card-block">
          <h1 class="text-center text-warning">
            <b><%- container %></b>
          </h1>
        </div>
      </div>
    </header>

    <footer class="container my-5">
      <form action="/containers/<%- container %>/items" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control"></input>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" class="form-control"></input>
        </div>
        <button type="submit"
                class="btn btn-lg btn-light text-right"
                style="cursor:pointer;">
          <i class="fa fa-plus"></i>
        </button>
      </form>
    </footer>
  </body>
</html>
