<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minimalist</title>
    <meta name="description" content="A list of your things">
  </head>
  <body>
    <header>
      <h1 class="text-center">Minimalist</h1>
    </header>
  </body>
</html>
