<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minimalist</title>
    <meta name="description" content="A list of your things">
    <%- include(views + '/shared/head.html.ejs') %>
  </head>
  <body>
    <header class="mt-3">
      <h1 class="text-center">Minimalist</h1>
    </header>

    <main class="container mt-5">
      <section id="container-sm" class="my-5">
        <div class="card text-white bg-dark">
          <div class="card-block">
            <h1 class="text-center text-warning">
              <b>sm</b>
            </h1>
          </div>
        </div>
      </section>

      <section id="container-md" class="my-5">
        <div class="card text-white bg-dark">
          <div class="card-block">
            <h1 class="text-center text-warning">
              <b>md</b>
            </h1>
          </div>
        </div>
      </section>

      <section id="container-lg" class="my-5">
        <div class="card text-white bg-dark">
          <div class="card-block">
            <h1 class="text-center text-warning">
              <b>lg</b>
            </h1>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
